<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script>
        
        $(document).ready(function(){
            $(".removeItem").on("click", function(event){
                
                if(!confirm("Delete item?"))
                {
                    event.preventDefault();//prevents default behavior of the links
                }
                
            });//click
            
        });//document ready
        
        
        </script>
    </head>
    <body>
        
        <h1> Admin Section </h1>
        <h2>
            
        <form action="/logout">
          <button> Logout </button>
        </form>
        
        <form action="/addItem">
          <button> Add New Item </button>
        </form>
        <form action="/reports">
          <button> Reports </button>
        </form>
        
               <h2>Items</h2>
        
        <% maleProducts.forEach(function(products){  %>
        <h4>
            
            <image src=<%= products.imageLink %> ></image>
            [<a href="/updateItem?uniqueId=<%= products.uniqueId %>&gender=Male">UPDATE</a>] 
            [<a class="removeItem" href="/deleteItem?uniqueId=<%= products.uniqueId %>&gender=Male">DELETE</a>] 
            <br>
        </h4>
        <% }) %>
        
        <% femaleProducts.forEach(function(products){  %>
        <h4>
            
            <image src=<%= products.imageLink %> ></image>
            [<a href="/updateItem?uniqueId=<%= products.uniqueId %>&gender=Female">UPDATE</a>] 
            [<a class="removeItem" href="/deleteItem?uniqueId=<%= products.uniqueId %>&gender=Female">DELETE</a>] 
            <br>
        </h4>
        <% }) %>
        
        </h2>
    </body>
</html>