<!DOCTYPE html>
<html>
  <head>
    <title>Guys Clothes</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var products = <%- JSON.stringify(products) %>
        var list = $("#products");
        for(let i = 0; i < products.length; i++){
          if(i%3 == 0){
            list.append("<div class='row1'>");
          } else if((i%3 == 2) || i == products.length-1){
            list.append("</div>")
          }
          list.append(`<div class='column1'><img src='${products[i].imageLink}'><br>
                        <strong> Price: ${products[i].price} </strong> <button value='${products[i].uniqueId}'> Add to Cart </button>`);
        }
        
        $("button").on("click", function(){
          if($(this).val()!="submit"){
            $.ajax({
              method: "post",
              url: "/maleAdd",
              dataType: "json",
              data: { "ID": $(this).val() },
              success: function(result) {
                 if(!result){
                     alert("Error!"); 
                  }else{
                      location.href = "/male";
                  }
              }
            }); 
          }
        });
    });//ready
  </script>
  </head>
  <body id="36">
    
    <h1>Guys</h1>
    
    <form action="/maleResults">
      
      <nav>
        <a href="/">Home</a>
        <a href="/male">Guys</a>
        <a href="/female">Girls</a>
        <a href="/cart">Shopping Cart</a>
      </nav>
      
      Filter Color:
      <select id="color" name="color">
        <option value=""> Select One </option>
        <% colors.forEach(function(i){ %>
          <option value="<%=i.color%>"> <%=i.color%> </option>
        <% }); %>
      </select>
      
      Filter by type:
      <select id="type" name="type">
        <% types.forEach(function(i){ %>
            <option value="<%=i.typeClothing%>"> <%=i.typeClothing%> </option>
        <% }); %>
      </select>
      
      Filter Price: <input type="number" id="price" name="price" min="0.00" max="100.00" step="0.01">
      <button value="submit">Submit</button>
      
      </form>
      
      <div id="products">
      </div>
  </body>
</html>